@import "tailwindcss";
@import "./cards.css";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@theme{
    --animate-wiggle: wiggle 2s ease-in-out infinite;

    @keyframes wiggle {
        0%, 20% { transform: rotate(0deg); }
        25%, 35% { transform: rotate(-6deg) scale(1.05); }
        30%, 40% { transform: rotate(6deg) scale(1.05); }
        45%, 100% { transform: rotate(0deg); }
    }

    @keyframes gradient {
        0%, 100% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
    }
}

button.btn-amber {
    @apply bg-amber-400 border-amber-400 hover:bg-amber-500 hover:border-amber-500 text-black;
    @apply disabled:bg-gray-400 disabled:border-gray-400 disabled:cursor-not-allowed;
    @apply data-[active=true]:bg-linear-to-r data-[active=true]:from-amber-400 data-[active=true]:via-yellow-200 data-[active=true]:to-amber-400 data-[active=true]:bg-size-[200%_100%] data-[active=true]:animate-[gradient_2s_ease-in-out_infinite];
}
